.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: none; /* Oculta scroll en Firefox */
}

    .horizontal-scroll::-webkit-scrollbar {
        display: none; /* Oculta scroll en Chrome/Safari */
    }

    .horizontal-scroll .product-card {
        scroll-snap-align: start;
        min-width: 250px;
        max-width: 250px;
        flex-shrink: 0;
    }
